body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.success-container {
    text-align: center;

    padding: 40px;
    border-radius: 10px;
    
    width: 400px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon svg {
    width: 64px;
    height: 64px;
}

.success-message h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #218838;
}
